@import '../vars';

.header {
    position: fixed;
    transition: top 1s ease;
    width: 100%;
    display: flex;
}
.header.top {
    top: 0;
}
.header.bottom {
    top: calc(100vh - 6rem);
    top: calc((var(--vh, 1vh) * 100) - 10rem);
}