@import '../vars';

.menu {
    width: 100%;
    height: 4rem;
}

.menuList {
    display: grid;
    padding: 0 6rem;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    height: 2rem;
    margin: 2rem 0 0 0;
    column-gap: 6rem;

    @include respond-to(phone) {
        padding: 0 10px;
        column-gap: 10px;
    }
}
.menuItem {
    display: block;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    background: white;
    border: 1px solid black;
    line-height: 2rem;
    font-family: "Roboto Mono";
}

.menuItem:hover {
    background: grey;
    cursor: pointer;
}

.menuItem.active {
    background:black;
    color: white;
}
