@import '../vars';

.projects {
    width: 80%;
    margin: 0 auto;
    padding-top: 10vw;
    padding-bottom: 10vw;
    @include respond-to(phone) {
        width: calc(100% - 20px);
    }

    .project {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 8rem;
        text-align: center;
        @include respond-to(phone) {
            margin-bottom: 3rem;
        }
    }
}
.project p {
    padding: 0 1rem;
}